<!DOCTYPE html>
<html>
<head>
  <title>F-1 Feeder</title>
  <link rel="stylesheet" type="text/css" href="app/app.css">
</head>

<body ng-app="F1FeederApp" ng-controller="driversController">
<table border="0">
  <thead>
  <tr>
    <th colspan="3">Drivers Championship Standings</th>
    <th colspan="2"><input type="text" ng-model="nameFilter" placeholder="Search..."/></th>
  </tr>

  </thead>
  <tbody>
  <tr ng-repeat="driver in driversList | filter: searchFilter">
    <td>{{$index + 1}}</td>
    <td><img ng-src="app/img/flags/{{driver.Driver.nationality}}.png" /></td>
    <td>  {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}</td>
    <td>{{driver.Constructors[0].name}}</td>
    <td>{{driver.points}}</td>
  </tr>
  </tbody>
</table>
<script src="app/components/angular/angular.js"></script>
<script src="app/components/angular-route/angular-route.js"></script>
<script src="app/app.js"></script>
<script src="app/services.js"></script>
<script src="app/controllers.js"></script>
</body>
</html>